*{padding: 0;margin: 0;box-sizing: border-box;}

.crdtitle {
  display: block;                /* ensures wrapping works */
  white-space: normal;           /* allows line breaks */
  word-wrap: break-word;         /* breaks long names */
  overflow-wrap: anywhere;       /* modern way to wrap long words */
  font-size: 1rem;
  font-weight: 700;
  color: #003366;
  text-align: left;            /* optional: center the name */
  line-height: 1.2;
  box-shadow: 0 6px 12px 16px rgba(0,0,0,0.08);
}

.crdbdy {
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 16px;
  background: #fff;
  font-size: 16px;
  border: double 3px black;
  color: dodgerblue;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: all 0.3s ease-in-out;
  /*width: 100%;           /* Makes card fill the column */
  min-width: 290px;
}


.crdbdy:hover {
  border: solid 2px blue;
  background: dodgerblue;
  color: #fff;
  transform: scale(1.03);
}


.crdbdy:hover .ant-card-body {
  background: dodgerblue;
  color: #fff;
}


.crdbdy:hover .crdtitle {
  color: #fff !important;
}


.crdbdy:hover .chkk {
  color: #f0f8ff;
}

.crdbdy:hover .crdinfo {
  color: #f0f8ff;
}

.fmm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    gap: 20px;
    padding-top: 20px;
    font-size: 20px;
    padding-bottom: 20px;
}
.fmm strong{
    margin-left: 20px;
}

.crdinfo{
    padding-bottom: 7px;
    color: #000;
}

.crdinfo:hover{color: white;}

.crdbtn{
    background:#fff;
    color: #000;
    font-size: 13px;
    border: black solid 0.5px;
    margin-bottom: 4px;
    text-align: left;
    padding-left: 4px;
}
.chkk{
  font-size: 12px;
  /* border: 1px dodgerblue solid; */
  border-radius: 16px;
  margin-bottom: 10px;
}