@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* body{
    /* background:dodgerblue;
    height: 25%; }*/


.container {
  display: flex;
  align-items: flex-start;      /* Vertically align image + text */
  justify-content:flex-start;
  gap: 15px;                /* Space between image and text */
  padding: 1.5rem;          /* Breathing room */
  background:#fff; /*dodgerblue;*/      /* Subtle background */
  border-radius: 12px;      /* Smooth corners */
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); /* Soft shadow */
  margin-top:15px;
  /* flex: 1;  */
}

/* .container img {
  width:5%;
  height: 10vh;
  border-radius: 8px;       
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
} */

.container h1 , .container h2 {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0;
  color: dodgerblue;
  text-align: left;
  padding-top: 25px;
  
}
.imghdrlft {
  border-radius: 8px;       /* Rounded image edges */
  box-shadow: 0 12px 16px rgba(0,0,0,0.1);
  /*box-shadow: 10px 8px 20px rgba(8, 37, 142, 0.34); /* Soft shadow */  
  margin-right: 50px;
  height:140px; 
  width:25%;
  margin-top: 20px;

}

.imghdrrght {
  border-radius: 8px;       /* Rounded image edges */
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  height:250px;
  width:40px;
}

@media (max-width: 992px ) and (max-width: 768px) {
  .container h1 , .container h2 {
  font-size: 0.8rem;
  font-weight: 700;
}

.imghdrlft {
  max-height:250px; 
  width:25%;
}
}

