*{margin: 0; padding: 0; box-sizing: border-box;}
.paycont {
  margin: 30px auto;
  padding: 20px;
  max-width: 1140px;
  background: #fff;
  border-radius: 12px;
  /* width: 100%; */
  /* max-width: 100%; */
  margin-top: 20px;
  padding-left: 20px;
  box-shadow: none !important;
  border: none !important;
  transform: scale(1);      /* optional slight shrink */
  transform-origin: top center;
  page-break-after: avoid;     /* prevent trailing blank page */
  overflow: hidden !important;  
}

.ant-table {
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #1890ff;  
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  border: 1px solid #ccc;        /* inner cell borders */
}

.ant-table-thead > tr > th {
  background: dodgerblue !important;
  color: #fff !important;
  text-align: center;
}

/* Optional: fix narrow column widths more uniformly */
.ant-table-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.payeven-row {
  background-color: #f0f8ff; /* alice blue */
}

.payodd-row {
  background-color: #ffffff;
}

.paytotal-row {
  position: sticky;
  bottom: 0;
  background: #f1f5f9 !important; /* subtle gray-blue */
  font-weight: bold;
  color: #1e3a8a;
  z-index: 2;
  font-size: 16px;
  font-weight: 600;
  border-top: 2px solid #1e40af !important;
}
.ant-table-tbody > tr:hover > td {
  background: #cce5ff !important;
  color: #003366;
}

/* .ant-table-cell {
  white-space: normal !important;
  word-wrap: break-word !important;
  word-break: break-word !important;
} */
.wrapp {
  /* white-space: normal !important; */
  word-break: break-word !important;
}

.payfmhdr , .paysthdr , .payyrr{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:flex-start;
  gap: 30px;
  font-size: 17px;
  padding-bottom: 10px;
}
.payprntTb{
  margin-top: 20px;
  height: 50px;
  border-radius: 16px;
  margin-left: 700px;
  font-size: 16px;
  color:#fff;
  background: dodgerblue;

}
.payprntTb:hover {
  background: darkblue !important;
  color: #fff !important;
  border-color: darkblue !important;
}
.paycurdt{
  padding-bottom: 10px;
  font-size: 9px;
}

@media print {
   body * {
    visibility: hidden;
  }
  .paycont, .paycont * {
    visibility: visible;
  }
  .paycont {
    position: absolute;
    left: 0;
    top: 0;
  }
  .payprntTb {
    display: none !important;
  }

  .ant-table-cell {
    font-size: 12px !important;
    word-break: break-word;
  } 
  .payfmhdr , .paysthdr , .payyrr{
    font-size: 13px !important;
    word-break: break-word;
    font-weight:700 ;
  }


}
/* .tbb{width: 1600;} */

.paydisprnt{
  cursor: none;
  display: none;
}
